<h4>Log in</h4>

<form method="POST" action="/login">
  <label>User name</label>
  <input type="text" name="username" placeholder="Enter your name here"  >
<br>
  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your password"  >
<br>

  <button>Sign In</button>
</form>
<img class="signInimg" src="https://www.sportfishingdalsland.com/uploads/7/0/2/9/7029564/published/img-7173_1.jpg?1547323488" alt="">

{{#if error}}
<p class="error">{{error}}</p>

{{/if}}