<div class="homeimg">

    <p class="welcome">Welcome to Find-the-Fish. </p>
</div>


<section>
    <p class="subtitle">Our Pick</p>
    <div class="fishcontainer">


        {{#each fish}}
        <a href="/fish/{{this._id}}">
            <img class="fishphoto" src="{{this.speciesIllustrationPhoto}}" alt="" />
        </a>
        {{/each}}



    </div>

</section>

<p class="subtitle">Top 5 Fish Recipes</p>
<p>To know more, please <a href="/signup">Sign up</a></p>