<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<img class="homeimg"src="https://1on1.today/blog/wp-content/uploads/2019/04/%E8%9E%A2%E5%B9%95%E5%BF%AB%E7%85%A7-2019-04-17-%E4%B8%8B%E5%8D%8812.26.11-1024x596.png"
    alt="" />
    <br>
<a href="/signup">Sign up</a>
<a href="/login">Log in</a>