<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<a href="/signup">Sign up</a>
<a href="/login">Log in</a>

<img class="homeimg"src="https://static1.squarespace.com/static/5400dd5fe4b0cb1fd47c9616/t/54cb9e5ce4b08461354d1549/1422630493326/banner.jpg?format=2500w"
    alt="" />
    <br>
