body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fefff2;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.signInimg{
  height: 300px;
  width: 400px;
}

.homeimg{
  background-image: url(https://static1.squarespace.com/static/5400dd5fe4b0cb1fd47c9616/t/54cb9e5ce4b08461354d1549/1422630493326/banner.jpg?format=2500w);
  background-size: cover;

  height: 500px;


  display: flex;
  justify-content: flex-end;
  align-items: center;

}


