body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fefff2;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.signInimg {
  height: 300px;
  width: 400px;
}

.homeimg {
  background-image: url(https://static1.squarespace.com/static/5400dd5fe4b0cb1fd47c9616/t/54cb9e5ce4b08461354d1549/1422630493326/banner.jpg?format=2500w);
  background-size: cover;
  height: 470px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fishphoto {
  background-image: url(https://fendro.files.wordpress.com/2013/11/2013-11-01_c1_john-erlend_id02.jpg);
  margin: 10px;
  border: black;
  background-color: beige;
  height: 200px;
  width: 400px;
}

.fishcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
