body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fefff2;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.signInimg{
  height: 300px;
  width: 400px;
}

.homeimg{
  width: 1350px;
  height: 400px;
}
