<h2>Add a fish recipe</h2>


<form class="addrecipeform" method="POST" action="/addrecipe">

    <div class="mb-3">
        <label class="form-label">title</label>
        <input class="form-control" type="text" name="title">
        <br>

        <label class="form-label">prep time</label>
        <input class="form-control" type="text" name="prepTime">
        <br>

        <label class="form-label">cook time</label>
        <input class="form-control" type="text" name="cookTime">
        <br>

        <label class="form-label">servings</label>
        <input class="form-control" type="text" name="servings">
        <br>

        <label class="form-label">ingredients</label>
        <input class="form-control" type="text" name="ingredients">
        <br>

        <label class="form-label">instructions</label>
        <input class="form-control" type="text" name="instructions">

        <br>
        <button class="btn btn-primary" type="submit">SUBMIT</button>

    </div>
</form>