<h2>Create fish</h2>


<form class="createfishform" method="POST" action="/createfish">

  <div class="mb-3">
    <label class="form-label">habitat</label>
    <input class="form-control" type="text" name="habitat">
    <br>


    <label class="form-label">location</label>
    <input class="form-control" type="text" name="location">
    <br>

    <label class="form-label">population</label>
    <input class="form-control" type="text" name="population">
    <br>

    <label class="form-label">scientificName</label>
    <input class="form-control" type="text" name="scientificName">
    <br>

    <label class="form-label">speciesIllustrationPhoto</label>
    <input class="form-control" type="text" name="speciesIllustrationPhoto">
    <br>

    <label class="form-label">Name</label>
    <input class="form-control" type="text" name="speciesName">
    <br>

    <label class="form-label">biology</label>
    <input class="form-control" type="text" name="biology">
    <br>
    <button class="btn btn-primary" type="submit">SUBMIT</button>

  </div>
</form>