<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<section>
  <p class="subtitle">General Information</p>

  <a href="https://www.fishwatch.gov/">https://www.fishwatch.gov/</a>
  <br>
  <a href="https://www.fishbase.se/search.php">https://www.fishbase.se/search.php</a>
  <br>
  <a href="https://www.honda.co.jp/fishing/picture-book/">https://www.honda.co.jp/fishing/picture-book/</a>
</section>