<section>
    <h2>Available recipes</h2>

    {{#each recipe}}

    <a href="/main/{{ this._id }}">
        <p>{{this.title}} {{this.instructions}} {{this.ingredients}}</p>
    </a>


    {{/each}}

</section>