<h2>Update recipe</h2>




<form method="POST" action="/recipes/{{recipe.id}}/edit">
    <div class="mb-3">


        <label class="form-label">Title</label>
        <input class="form-control" type="text" name="name" value="{{recipe.title}}">
        <br>

        <label class="form-label">instructions</label>
        <textarea rows="5" cols="60" name="ingredients" value="{{recipe.instructions}}">
        </textarea>

        <br>
        <label class="form-label">ingredients</label>
        <input class="form-control" type="text" name="ingredients" value="{{recipe.ingredients}}">
        <br>
        <button class="btn btn-primary" type="submit">SUBMIT</button>
    </div>
</form>



<label class="form-label">Ingredients</label>
<textarea rows="5" cols="60" name="ingredients">
         </textarea><br>

<label class="form-label">Instructions</label>
<textarea rows="5" cols="60" name="instructions">
         </textarea><br>