<h2>Add a seafood recipe</h2>


<form class="addrecipeform" method="POST" action="/recipes" enctype="multipart/form-data">




    <div class="mb-3">
        <label class="form-label">Title</label>
        <input class="form-control" type="text" name="title">
        <br>

        <label class="form-label">Ingredients</label>
        <textarea rows="5" cols="60" name="ingredients">
         </textarea><br>

        <label class="form-label">Instructions</label>
        <textarea rows="5" cols="60" name="instructions">
         </textarea><br>
        <input type="file" name="imageUrl" accept="image/png, image/jpg">
        <br>
        <button class="btn btn-primary" type="submit">SUBMIT</button>

    </div>
</form>