<section>
    <h1>Available Seafood Recipes</h1>


    <div class="fishcontainer">
        {{#each recipe }}

        <div class="card" style="width: 17rem; height: 25rem;">
            <a href="/recipes/{{this._id}}" style="text-decoration: none; color: black;">
                <img class="card-img-top" id="recipepho" src="{{this.photo}}" alt="recipe">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                </div>


            </a>
        </div>


        {{/each}}

    </div>
</section>