<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>



<section>
    <h2>Edit Recipe</h2>


    <form class="createfishform" method="POST" action="/recipes/{{recipe._id}}/edit">

        <div class="mb-3">

            <input type="file" name="photo" accept="image/png, image/jpg">
            <br>

            <label class="form-label">Title</label>
            <input class="form-control" type="text" name="title" value="{{recipe.title}}">
            <br>

            <label class="form-label">Ingredients</label>

            <div class="ingredient">
                {{#each recipe.ingredients}}

                <input class="form-control" id="exampleFormControlTextarea1" rows="1" name="ingredients" maxlength="30"
                    value="{{this}}"></textarea>
                {{/each}}





            </div>
            <text id="btn1">+</text>
            <br>



            <label class="form-label">Instructions</label>
            <input class="form-control" type="text" name="instructions" value="{{recipe.instructions}}">
            <br>
            <button class="btn btn-primary" type="submit">SUBMIT</button>

        </div>
    </form>

</section>


<script>
    $('#btn1').on('click', function () {
        var r = $('<textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="ingredients"></textarea>');
        $(".ingredient").append(r);
    });
</script>