<h2>Update the recipe</h2>




<form method="POST" action="/recipes/{{reciepe.id}}/edit">
    <div class="mb-3">


        <label class="form-label">title</label>
        <input class="form-control" type="text" name="name" value="{{recipe.title}}">
        <br>
        <label class="form-label">ingredients</label>
        <input class="form-control" type="text" name="ingredients" value="{{recipe.ingredients}}">
        <br>
        <label class="form-label">instructions</label>
        <input class="form-control" type="text" name="instructions" value="{{recipe.instructions}}">
        <br>
        <button class="btn btn-primary" type="submit">SUBMIT</button>
    </div>
</form>